@import url("https://fonts.googleapis.com/css?family=Poppins|Source+Code+Pro&display=swap");

html {
  background-color: #a1ffc5 !important;
  color: #5c573e !important;
  /* font-size: 2em; */
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #a1ffc5 !important;
  color: #324359 !important;
  font-size: 20px !important;
  font-family: "Poppins", sans-serif !important;
}

#backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0);
  height: 100%;
  width: 100vw;
  height: 100vh;
}

.code {
  font-family: "Source Code Pro", monospace;
}

.info {
  line-height: 1.4;
  width: 85%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.icon {
  height: 30px;
  transition: 0.1s ease-in;
  color: #324359;
}

.icon:hover {
  transform: scale(1.5);
  color: #ff8a00;
}

.flex-column {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;

}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.1s ease-in;
  background-color: #324359 !important;
}

.card-title {
  color: #96ffce;
}

.card-link {
  color: #ccc;
}

.card-expand {
	color: #ccc;
}

.card-footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card p {
  font-size: 0.7em;
  color: #ccc !important;
}

.card a {
  font-size: 0.7em;
}

@media (min-width: 1920px) {
  .card:hover {
    transform: scale(1.09);
  }
}

.tag:before {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag:after {
  background: transparent;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.slider{
	position: relative;
	animation: slideColor 10s forwards infinite;
}

.caption{
	line-height: 190px;
	/* font-size: 60px; */
	top: 50%;
	transform: translateY(-50%);
}

.text-box {
  position: relative;
}

.text-box div{
	display: inline-block;
	position: absolute;
	transform: rotateX(-90deg);
	opacity: 0;
	animation-timing-function: ease;
}

.text-box div:nth-child(1){
	animation: rollDown 10s forwards infinite;
}

.text-box div:nth-child(2){
	animation: rollDown2 10s forwards infinite;
}

.text-box div:nth-child(3){
	animation: rollDown3 10s forwards infinite;
}


@keyframes rollDown {
	0%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	11%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	22%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	33%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown2 {
	33%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	44%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	55%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	66%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@keyframes rollDown3 {
	66%{
		top: -200px;
		transform: rotateX(-90deg);
	}
	77%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	88%{
		top: -74px;
		transform: rotateX(0deg);
		opacity: 1;
	}
	99%{
		top: 50px;
		transform: rotateX(30deg);
		opacity: 0;
	}
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
  .text-justify {
    text-align: left !important;
  }
  .icon-wrapper .mr-5:last-child {
    margin-right: 0 !important;
  }
}
